body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul, li {
  padding-left: 30px;
  margin-bottom: 10px;
}

h2, h3 {
  padding: 10px;
}

.link {
  color: #FFF;
}

.link:hover {
   color: green;
}

.speciesName {
  width: 150px;
  float: left;
  /*border: 1px solid red;*/
}

.buttonShowEvChain {
  background-color: green;
  border: none;
  overflow: hidden;
  text-align: center;
  margin: 4px 2px;
  transition: 0.3s;

}

.buttonShowEvChain:hover {
  background-color: #ddd;
  color: white;
}

.buttonShowDetails:focus {
  background-color: black;
  color: white;
}

.speciesDetails {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

.listOfSpecies {
  margin: 50px;
  padding: 20px;
  width: 80%;
  max-width: 550px;
  height: 80%;
  border: 1px solid grey;
  overflow: hidden;
}

/*
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  margin-top: 1px;
}

.plant {
  display: flex;
  flex-direction: row;
  margin-top: 1px;
}

.game-info {
  margin-left: 20px;
}
*/
